.ProductDetail {
  display: flex;
  width: 80%;
  margin: 50px auto;
  gap: 50px;

  .ProductDetailImg {
    img {
      width: 400px;
      height: 500px;
    object-fit: contain;
    }
  }
  .ProductDetailInfo {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-top: 150px;
    gap: 20px;
    max-width: 40vw;
    .Description {
      overflow-wrap: break-word;
      p {
        margin: 10px 0;
      }
    }

    h1 {
      text-align: center;
          text-wrap: wrap;
            overflow-wrap: break-word;
    }
    span {
      font-size: 12px;
      text-align: end;
    }
    .Price {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .ProductBtns{
      width: 100%;
      display: flex;
      justify-content: space-around;
      gap: 5px;
      span{
        font-size: 17px;
      }
    }
  }
}
@media (max-width: 800px) {
  .ProductDetail {
    flex-direction: column;
    gap: 10px;
    margin: auto;
   

    .ProductDetailImg {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .ProductDetailInfo {
      margin-top: 30px;
      max-width: 90vw;
    }
  }
}

@media (max-width: 500px) {
  .ProductDetail {
    .ProductDetailImg {
      img {
        width: 300px;
        height: 350px;
      }
    }

    .ProductDetailInfo {
      margin-top: 10px;
    }
  }
}