
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}
ul {
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}
h1,h2,h3{
  text-align: center;
}
.app {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
}
